<ul class="dishes_list">
  {{#each dishes}}
    <li>
        <img class="image" src="{{image}}" alt="{{name}}">
        <h2 class="name">{{name}}</h2>
        <p class="price">{{price}}</p>
        <p class="description">{{description}}</p>
    </li>
  {{/each}}
</ul>